:root {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-size: 16px;
  color: #000;
}

body {
  background-color: #fff;
}

main,
footer {
  max-width: 1600px;
  padding: 48px 16px 0;
  margin: 0 auto 24px;
}

p,
ul {
  font-size: 28px;
  line-height: 30px;
  margin-top: 24px;
  width: 80%;
  max-width: 800px;
}

li {
  margin-top: 10px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 50px;
}

a {
  text-decoration-thickness: 1px;
  text-underline-offset: .175em;
  text-decoration-color: color-mix(in srgb, currentColor, transparent 80%);
  text-decoration-skip: none;
  text-decoration-skip-ink: none;
}

a,
a:visited {
  color: #0054B8;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

a:hover {
  color: #b30000;
}

a:active {
  color: #004085;
}

.not_found {
  background-color: #ccc;
}

.not_found a,
.not_found a:visited {
  color: #000;
}

.not_found h1 {
  color: #383838;
}

.on_print {
  display: none;
}

.inline-photo {
  display: inline-block;
  position: relative;
  top: -3px;
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 8px;
  border-radius: 50%;
  transform: scale(1.3);
}

.nowrap {
  white-space: nowrap;
}

@media screen and (max-width: 767px) {

  main,
  footer {
    padding-top: 36px;
  }

  p,
  ul {
    font-size: 24px;
    line-height: 26px;
    margin-top: 18px;
    width: 100%;
    padding-right: 2em;
  }

  li {
    margin-top: 10px;
  }

  h1 {
    font-size: 36px;
    font-weight: 900;
    line-height: 38px;
  }

  .inline-photo {
    width: 19px;
    height: 19px;
    margin-right: 7px;
  }
}

@media print {
  body {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  a,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  .on_print {
    display: block;
  }

  .inline-photo {
    background-image: url('/images/photo.webp');
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  a[data-print]:after {
    content: " (" attr(data-print) ")";
  }
}