<!doctype html>
<html lang="{{ site.lang | default: 'ru' }}">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ page.title }}</title>
  {% seo title=false %}
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}?v={{ site.assets_version }}">
  {% feed_meta %}
</head>

<body class="{{ page.body_class }}">
  {{ content }}
  <script type="module" src="{{ '/assets/js/main.js' | relative_url }}?v={{ site.assets_version }}"></script>
</body>

</html>